body, html {
  width: 100%;
  height: 100%;
}


h1 {
  color: yellow;
  text-decoration: underline;
}

body{
  text-align: center;
}



body.WindowsDesktop {
  background-image: url("images/WindowsXPBackground/jpg");
}



a:hover, a:active {
  background-color: rgba(73, 243, 235, 0.9);

}

.maplestory_background{
  background-image: url("../images/maplestory.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_password_background{
  background-image: url("../images/maplestory_password.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_world_select{
  background-image: url("../images/maplestory_world_select.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_character_creation{
  background-image: url("../images/maplestory_character_creation.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_name{
  background-image: url("../images/maplestory_character_name.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_amherst{
  background-image: url("../images/amherst.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maplestory_gif{
  background-image: url("../images/maplestory_gif.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hidden{
  display: hidden;
}
/*
#div1 {
  background-color: gray;
  color: hotpink;
  border-style: solid groove;
  border-width: 5px;
  border-color: green;
  margin: 5%;
  padding: 6px;
}

#div2{
  background-color: #cc1a54;
  margin: 5%;
  float: left;
  width: 20%;
}

#div3{
  background-color: #f1ff47;
  margin: 5%;
  padding: 6px;
  float: right;
  width: 50%;
}

#div4{
  background-color: #d307ff;
  margin: 5%;
  clear: both;
}

.maplestory_background{
  width: 100%;
}
